Repository DamboySytesNet/mobile, pull requests merged in 2019-11, with the labels that each got.

#25 Use global user object for student
  app/activities/student/cockpit/cockpit.js
  app/activities/student/consultations/consultations.css
  app/activities/student/consultations/consultations.js
  app/activities/student/consultations/consultations.xml
  app/common/data/testConsultations.js
  app/common/data/user.js
Labels: enhancement, student

#19 Add employee consultation
  app/activities/employee/cockpit/cockpit.js
  app/activities/employee/cockpit/cockpit.xml
  app/activities/employee/consultations/consultations.css
  app/activities/employee/consultations/consultations.js
  app/activities/employee/consultations/consultations.xml
  app/activities/login/login.xml
  app/common/dataTypes/EmployeeConsultation.js
  app/common/style/backActionbar.css
Labels: prowadzacy

#26 Add employee settings database
  app/activities/employee/hoursForm/hoursForm.js
  app/activities/employee/hoursForm/hoursForm.xml
  app/activities/employee/settings/settings.js
  app/activities/employee/settings/settings.xml
  app/activities/login/login.js
  app/common/data/user.js
  app/common/dataTypes/EmployeeHours.js
  app/modules/request/hoursHttpRequests.js
  app/modules/request/roomHttpRequests.js
Labels: Tech, enhancement, prowadzacy

#33 Add student consultation details
  app/activities/student/consultations/consultations.js
  app/activities/student/consultations/consultations.xml
  app/activities/student/details/details.css
  app/activities/student/details/details.js
  app/activities/student/details/details.xml
  app/common/dataTypes/Consultation.js
Labels: student
